@import "tailwindcss";
@import "flowbite/src/themes/default";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-image: url("/gsm-01.png");
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "mungil";
  src: url("../public/Mungil-Regular.ttf");
  font-weight: 100;
}

body {
  background-image: var(--bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  color: var(--foreground);
  font-family: "mungil", Arial, Helvetica, sans-serif;
}
